* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  padding: 15px;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 390px;
  margin: auto;
  background: #E6E6E6;
  box-shadow: 0px 4px 21.1px 8px rgba(72, 72, 72, 0.3);
  border-radius: 10px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #FFF;
  padding: 16px 72px 178px;
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.6), rgba(0, 0, 0, 0.42)), url('../img/header-bg.jpg') no-repeat center / cover;
  border-radius: 0px 0px 90px 90px;
}

.hello {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.user {
  margin-top: -79px;
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-bottom: 20px;
}

.user-avatar {
  margin-top: -61px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(255, 255, 255);
}

.user-name {
  margin-top: 7px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.user-description {
  color: rgb(90, 89, 89);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 4px;
}

.card {
  background: rgb(255, 255, 255);
  box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  gap: 21px;
}

.button {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  gap: 10px;
  margin-bottom: 6px;
}


.button.fb {
  background: rgb(1, 101, 225);
}

.button.ig {
background: rgb(193, 53, 132);
}

.button.tes {
 background: rgb(74, 89, 108);
}